<div class="container">
  <h1>What is the name of your cocktail?</h1>
<%= simple_form_for [@cocktail] do |c| %>
  <%= c.input :name %>
  <%= c.submit "add a cocktail", class: "btn btn-primary" %>
<% end %>
</div>
